<%include header%>
<link rel="stylesheet" type="text/css" href="css/bindu.css">
<main>
    <article>
        <div class="container"></div>
        <div class="row"></div>
            <div class="col-sm-6"></div>
            <img src="images/image.jpeg" alt="ProfilePic" class="rounded-circle" width="200px" height="200px">
        <h2>My Personal Information:</h2>
        <section>
            <h3> Present:</h3>
            <p>I am the new member of fall batch 2018 in Applied computer science from Northwest missouri state university.</p>
        </section>
        <section id="past-section">
            <h3>Past:</h3>
            <p>I am from INDIA(Warangal).I completed my under graduation in computer science from Kakatiya University.</p>
        </section>
        <section id="future-section">
            <h3>Plans:</h3>
            <p> After my masters I would like work as software developer.I hope this course will help me lot in
                understanding concepts related to web apps,which help out to get good position in my career.</p>
        </section>
        <section>
            <h3>Schedule:</h3>

            <ul>
                <li>Subjects --------------Web Apps-----------------------------ADBMS-----------------------OOPS----------- </li>
                <li>Monday
                    ---------11:00am-11:50am-------------------01:00pm-01:50pm-------------------------------------
                </li>
                <li>Tuesday
                    ---------------------------------------------------------------------------------02:00pm-03:15pm---</li>
                <li>Wednesday
                    -----11:00am-11:50am-------------------01:00pm-01:50pm------------------------------------ </li>
                <li>Thursday
                    --------------------------------------------------------------------------------02:00pm-03:15pm---
                </li>
                <li>Friday
                    -------------------------------------------------01:00pm-01:50pm-----------------------------------</li>
            </ul>
        </section>
        <aside>
            <h3>Hobbies:</h3>
            <p>I am interested in playing badminton.</p>
        </aside>
    </article>
</main>
<div id="video">
        <iframe width="500" height="400" src="images/videoplayback.mp4"></iframe>
        </div>
    </div>




<%include footer%>
